<hr>
<h1>Cadastro de EPI</h1>
<hr>

<div class="form-container">
  <div class="form-group">
    <label for="descricao">Descrição:</label>
    <input type="text" id="descricao" name="descricao" [(ngModel)]="descricao" required>
  </div>

  <div class="form-group">
    <label for="c_a">Código CA:</label>
    <input type="text" id="c_a" name="c_a" [(ngModel)]="c_a" required>
  </div>

  <div class="form-group">
    <label for="quantidade">Quantidade:</label>
    <input type="number" id="quantidade" name="quantidade" [(ngModel)]="quantidade" required>
  </div>

  <div class="button-group">
  <button (click)="cadastrar()">Salvar</button>
  <button class="cancel-button" (click)="cancelar()">Cancelar</button>
</div>
</div>
