<hr>
<h1>Atualizar EPI</h1>
<hr>

<form [formGroup]="epiForm" (ngSubmit)="salvarEdicao()" class="form-container">
  <div class="form-group">
    <label for="descricao">Descrição:</label>
    <input type="text" id="descricao" formControlName="descricao" required>
  </div>
  <div class="form-group">
    <label for="c_A">C.A:</label>
    <input type="text" id="c_A" formControlName="c_A" required>
  </div>
  <div class="form-group">
    <label for="quantidade">Quantidade:</label>
    <input type="number" id="quantidade" formControlName="quantidade" required>
  </div>
  <div class="button-group">
    <button type="submit">Salvar Edição</button>
    <button class="cancel-button" type="button" (click)="cancelarEdicao()">Cancelar</button>
  </div>
</form>
